@{
    string pagePath = Context.Request.Path;

    // bool IsActive(string path)
    // {
    //     if (path == pagePath)
    //     {
    //         return true;
    //     }
    //
    //     return false;
    // }

    string Show(Func<bool> condition)
    {
        if (condition.Invoke())
        {
            return "hidden";
        }
        return "";
    }

    // var heartbeats = 10;
    //
    // var disconnectedendpoints = 1;
    //
    // var failedmessages = 2;
    //
    // var failedcustomchecks = 1;
}
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        .ng-hide {
            display: none !important;
        }
    </style>

    <title>@ViewBag.Title - ServicePulse</title>

    <meta charset="utf-8">
    <meta name="description" content="ServicePulse Monitoring">
    <meta name="author" content="Particular Software">
    <meta name="viewport" content="width=1440, initial-scale=1">

    <link rel="shortcut icon" href="img/ServicePulse.ico">

    <!-- 3rd Party Library Styles -->
    <link rel="stylesheet" href="/v1/modules/dist/vendor.css">

    <!-- Particular Styles -->
    <link rel="stylesheet" href="css/particular.css">
    <!--[if lt IE 9 ]>
        <script type="text/javascript">
            window.location = 'NoIE.html';
        </script>
    <![endif]-->
    <!--[if IE]>
        <link rel="stylesheet" href="css/particular.ie.css">
    <![endif]-->

</head>
<body>
    <noscript>
        <div class="container-fluid">
            <div class="row">
                <div class="alert col-sm-10 col-md-10 alert-warning">
                    <h4>Warning!</h4>
                    <p>
                        You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.
                    </p>
                </div>
            </div>
        </div>
    </noscript>
    <header>
        <sp-navmenu path="@Context.Request.Path"></sp-navmenu>
    </header>

    <div class="container-fluid">
        <a id="pagetop"></a>
        <div id="connectingToServiceControl" @Show(() => true)>
            <div class="row">
                <div class="sp-loader"></div>
            </div>
        </div>
        <div id="view">@RenderBody()</div>
    </div>

    <sp-footer></sp-footer>
    <script src="_content/Microsoft.AspNetCore.Components.CustomElements/BlazorCustomElements.js"></script>
    <script src="_framework/blazor.webassembly.js"></script>
</body>